In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('sqlite:///shakurbasti_from_app.db')

In [3]:
engine.table_names()

['voters', 'voters2']

In [25]:
voters = pd.read_sql('select * from voters', engine)

In [26]:
voters2 = pd.read_sql('select * from voters2', engine)

In [27]:
voters['Relative'] = voters['Relative'].apply(lambda x: x.split("'s")[0].upper().strip())

In [28]:
voters['Relative']

0          FATHER
1         HUSBAND
2          FATHER
3         HUSBAND
4          FATHER
           ...
143293    HUSBAND
143294     FATHER
143295     FATHER
143296    HUSBAND
143297     FATHER
Name: Relative, Length: 143298, dtype: object

In [29]:
voters['Section'] = voters['SectionTrim']

In [30]:
voters.drop('SectionTrim', axis=1, inplace=True)

In [51]:
merged = voters.merge(voters2, on=['Name', 'Age', 'Section', 'Relative'], how='left')

In [52]:
merged.drop(['NameAge', 'index_x', 'Sex_x'], axis=1, inplace=True)

In [53]:
voters2.groupby('Sex').count()

,index,Name,Age,Section,Raw String,Sheet,Relative,Relative Name,Voter Id,len
Sex,,,,,,,,,,
FEMALE,68242,68242,68242,68242,68242,68242,68242,68242,68242,68242
MALE,72904,72904,72904,72904,72904,72904,72904,72904,72904,72904
na,254,254,254,254,254,254,254,254,254,254

In [59]:
voters.replace('', pd.np.nan).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143298 entries, 0 to 143297
Data columns (total 12 columns):
index            143298 non-null int64
Name             143292 non-null object
Age              142789 non-null object
Sex              143137 non-null object
Section          142947 non-null object
Raw String       143298 non-null object
Sheet            143298 non-null object
Relative         143095 non-null object
Relative Name    143079 non-null object
Voter Id         101458 non-null object
len              143298 non-null int64
NameAge          143298 non-null object
dtypes: int64(2), object(10)
memory usage: 13.1+ MB

In [60]:
merged.replace('', pd.np.nan).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 143298 entries, 0 to 143297
Data columns (total 16 columns):
Name               143292 non-null object
Age                142789 non-null object
Section            142947 non-null object
Raw String_x       143298 non-null object
Sheet_x            143298 non-null object
Relative           143095 non-null object
Relative Name_x    143079 non-null object
Voter Id_x         101458 non-null object
len_x              143298 non-null int64
index_y            0 non-null float64
Sex_y              0 non-null float64
Raw String_y       0 non-null float64
Sheet_y            0 non-null float64
Relative Name_y    0 non-null float64
Voter Id_y         0 non-null float64
len_y              0 non-null float64
dtypes: float64(7), int64(1), object(8)
memory usage: 18.6+ MB

In [62]:
voters[voters['len'] == 10]

,index,Name,Age,Sex,Section,Raw String,Sheet,Relative,Relative Name,Voter Id,len,NameAge
19,19,YOGESH KUMAR,46,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",we ALDBUSD4SI IO\nName: YOGESH KUMAR\n\nFather...,./data/111/page_21.png.json,FATHER,GANGA RAM,ALDBUSD4SI,10,YOGESH KUMAR46
26,26,SUNIL KUMAR SANGWAN,46,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",l oy ACB1598134\nName: SUNIL KUMAR SANGWAN\nFa...,./data/111/page_21.png.json,FATHER,HARI SINGH,ACB1598134,10,SUNIL KUMAR SANGWAN46
43,43,RAJPAL SIHAG,50,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",DVVVUSTOTS I\n\n \n\na |\nName: RAJPAL SIHAG\...,./data/111/page_15.png.json,FATHER,ABHAY RAM SIHAG,DVVVUSTOTS,10,RAJPAL SIHAG50
56,56,VP GUPTA,92,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",l sory ACB0863555\nName: VP GUPTA\n\nFather's ...,./data/111/page_15.png.json,FATHER,KARAM CHAND,ACB0863555,10,VP GUPTA92
86,86,PARAMJEET KAUR,66,FEMALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",l ty ACB0862482\nName: PARAMJEET KAUR\nHusband...,./data/111/page_11.png.json,HUSBAND,SWARN SINGH,ACB0862482,10,PARAMJEET KAUR66
...,...,...,...,...,...,...,...,...,...,...,...,...
143257,143257,PROMILA KOHLI,58,FEMALE,"1-BLOCK BG-6,PASCHIM VIHAR",_ ALDUSZ30U0\nName: PROMILA KOHLI\nHusband's N...,./data/41/page_14.png.json,HUSBAND,SUNIL KUMAR,ALDUSZ30U0,10,PROMILA KOHLI58
143264,143264,HEMANT ANAND,39,MALE,"1-BLOCK BG-6,PASCHIM VIHAR",oot ACB0323907\nName: HEMANT ANAND\nFather's N...,./data/41/page_14.png.json,FATHER,DEVENDER PAL,ACB0323907,10,HEMANT ANAND39
143289,143289,KAMLA,60,FEMALE,"1-BLOCK BG-6,PASCHIM VIHAR",=< JBJT1I0S59/71\nName: KAMLA\nHusband's Name ...,./data/41/page_12.png.json,HUSBAND,BHAGWATI,JBJT1I0S59,10,KAMLA60
143293,143293,PREM LATA,58,FEMALE,"1-BLOCK BG-6,PASCHIM VIHAR",l a} JBJO793224\nName: PREM LATA\n\nHusband's ...,./data/41/page_12.png.json,HUSBAND,ASHOK KUMAR,JBJO793224,10,PREM LATA58
143294,143294,GAURAV ARORA,31,MALE,"1-BLOCK BG-6,PASCHIM VIHAR",l a] ACB0323196\nName: GAURAV ARORA\nFather's ...,./data/41/page_12.png.json,FATHER,ASHOK KUMAR,ACB0323196,10,GAURAV ARORA31

In [64]:
voters.drop('index', axis=1, inplace=True);
voters.drop(['NameAge', 'len')

,Name,Age,Sex,Section,Raw String,Sheet,Relative,Relative Name,Voter Id,len,NameAge
0,DEEPAK,45,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",Name: DEEPAK\n\nFather's Name: KEWAL KRISHAN\n...,./data/111/page_21.png.json,FATHER,KEWAL KRISHAN,,0,DEEPAK45
1,REENA,40,FEMALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",Name: REENA\n\nHusband's Name : DEEPAK\nHouse ...,./data/111/page_21.png.json,HUSBAND,DEEPAK,,0,REENA40
2,SURJEET SINGH,76,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",Name: SURJEET SINGH\n\nFather's Name : GURCHAR...,./data/111/page_21.png.json,FATHER,GURCHARAN SINGH,,0,SURJEET SINGH76
3,SURENDER KAUR,74,FEMALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",| el\n\nName : SURENDER KAUR\nHusband's Name: ...,./data/111/page_21.png.json,HUSBAND,SURJEET SINGH,,0,SURENDER KAUR74
4,SURESH CHANDER,68,MALE,"1-HARI SINGH PARK,NEW MULTAN NAGAR",| El\n\nName : SURESH CHANDER\nFather's Name :...,./data/111/page_21.png.json,FATHER,TOTARAM,E,1,SURESH CHANDER68
...,...,...,...,...,...,...,...,...,...,...,...
143293,PREM LATA,58,FEMALE,"1-BLOCK BG-6,PASCHIM VIHAR",l a} JBJO793224\nName: PREM LATA\n\nHusband's ...,./data/41/page_12.png.json,HUSBAND,ASHOK KUMAR,JBJO793224,10,PREM LATA58
143294,GAURAV ARORA,31,MALE,"1-BLOCK BG-6,PASCHIM VIHAR",l a] ACB0323196\nName: GAURAV ARORA\nFather's ...,./data/41/page_12.png.json,FATHER,ASHOK KUMAR,ACB0323196,10,GAURAV ARORA31
143295,GAGAN,44,MALE,"1-BLOCK BG-6,PASCHIM VIHAR",edo\n\nName: GAGAN\n\nFather's Name: BRIJ MOHA...,./data/41/page_12.png.json,FATHER,BRIJ MOHAN,,0,GAGAN44
143296,RENU CHOPRA,43,FEMALE,"1-BLOCK BG-6,PASCHIM VIHAR",edd\n\nName: RENU CHOPRA\nHusband's Name : GAG...,./data/41/page_12.png.json,HUSBAND,GAGAN,,0,RENU CHOPRA43
143297,HARSH WARDHAN,63,MALE,"1-BLOCK BG-6,PASCHIM VIHAR",oul\n\nName: HARSH WARDHAN\nFather's Name: RAJ...,./data/41/page_12.png.json,FATHER,RAJ KUMAR,,0,HARSH WARDHAN63